In [72]:
print("Priyrajsinh")

Priyrajsinh

In [73]:
a = 5
b = 10
print(a+b)

15

In [74]:
a = 5 - 2j
b = 3 + 4j
print(a + b)

(8+2j)

In [75]:
print(a ** b)

(551.7683441604779-455.49896174722505j)

In [76]:
""" priyrajsinh """

' priyrajsinh '

In [77]:
type(a)
type(b)

complex

In [78]:
print('""') #single and double qoute can be used diferently

""

In [79]:
x= y= z= "orange" #one input can be assigned to multiple values
print(x)
print(y)
print(z)

orange
orange
orange

In [80]:
x = "orange is a fruit"
print(x)
y = "banana is also a fruit"
print(y)
y=x
print(x,y)

orange is a fruit
banana is also a fruit
orange is a fruit orange is a fruit

In [81]:
a = "Hello World"
print(a)
a.upper()
a.lower()

Hello World

'hello world'

In [82]:
a = "                                                                          priyraj"
print(a)
print(a.strip())

                                                                          priyraj
priyraj

In [83]:
age = 24
print(f"My name is priyraj and I am {age+4} years old")

My name is priyraj and I am 28 years old

In [84]:
print('It\'s a sunny day')

It's a sunny day

In [85]:
print("Helo I am priyraj\nand i am learing python")

Helo I am priyraj
and i am learing python

In [86]:
x =5
y = "priyraj"

print(type(x))
print(type(y))

<class 'int'>
<class 'str'>

In [87]:
x = 35e3
y = 12E4
z = -87.7e100
print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

In [88]:
#calculator
a = float(input("Enter first number: "))
b = float(input("Entern second number:"))

c = a + b
d = a - b
e = a * b
f = a / b
print(f"The Addition of {a:.2f} and {b:.2f} is {c:.2f}")
print(f"The Subtraction of {a:.2f} and {b:.2f} is {d:.2f}")
print(f"The Multiplication of {a:.2f} and {b:.2f} is {e:.2f}")
print(f"The Division of {a:.2f} and {b:.2f} is {f:.2f}")

The Addition of 5.00 and 5.00 is 10.00
The Subtraction of 5.00 and 5.00 is 0.00
The Multiplication of 5.00 and 5.00 is 25.00
The Division of 5.00 and 5.00 is 1.00

In [89]:
### **1. Declaring and Printing a Float**
temperature = 36.7
print(f"Body temperatue is {temperature} degree celsius")

Body temperatue is 36.7 degree celsius

In [90]:
#2.float arithmetic operations
a = 5.5
b = 2.2
sum = a + b
print(f"The sum of {a} and {b} is {sum}")

The sum of 5.5 and 2.2 is 7.7

In [91]:
### **3. Multiplication with Floats**
length = 5.5
width = 2.0
area = length * width
print(f"The area is {area}")

The area is 11.0

In [92]:
### **4. Division of Floats**
num = 10
dno = 4
result = num / dno
print(f"Divison result is {result}")

Divison result is 2.5

In [93]:
### **5. Using Floats in Power Calculations**
base = 2.5
exponent = 3
power = base ** exponent
print(f"Power result is {power}")

Power result is 15.625

In [94]:
### **6. Combining Integers and Floats**
int_value = 10
float_value = 2.5
result = int_value * float_value
print(f"The result of multiplying integer {int_value} and float {float_value} is {result}")

The result of multiplying integer 10 and float 2.5 is 25.0

In [95]:
### **7. Rounding a Float**
value = 3.14831
rounded_value = round(value, 2)
print(f"The rounded value is {rounded_value}")

The rounded value is 3.15

In [96]:
### **8. Converting Float to Integer**
float_value = 7.8
int_value = int(float_value)
print(f"The converted float value to integer is {int_value}")

The converted float value to integer is 7

In [1]:
### **10. Floats in a List**
price = [19.99, 29.99, 4.99, 49.99]
total = sum(price)
print("The total price is ", total)

The total price is  104.96000000000001

In [2]:
price = [19.99, 29.99, 4.99, 49.99]
total = sum (price)
print(f"The total price is{total}")

The total price is104.96000000000001

In [3]:
a = float(input("Enter first number: "))
b = float(input("Entern second number:"))
c = float(input("Enter third number:"))
d = float(input("Enter fourth number:"))
e = float(input("Enter fifth number:")) 

list = [a,b,c,d,e]
total = sum(list)
print("The acquired list is ", list)
print(f"The total is {total:.4f}")

The acquired list is  [19.99, 29.99, 4.99, 49.99, 59.99]
The total is 164.9500