In [9]:
def my_function(fname):
    print(fname + " Parmar")

In [10]:
my_function("Priyraj")
my_function("Krish")

my_function("dj")

Priyraj Parmar
Krish Parmar
dj Parmar

In [14]:
def my_function(fname, lname):
    print(fname + " " + lname)

my_function("Emil", "Refsnes")
my_function("Emil")

Emil Refsnes

TypeError: my_function() missing 1 required positional argument: 'lname'

In [19]:
def my_function(*kids):
    print("The youngest child is " + kids[2])

In [20]:
my_function("Emil", "Tobias", "linus")

The youngest child is linus

In [21]:
def my_function(child3, child2, child1):
    print("The youngest chid is " + child3)

In [23]:
my_function(child1 = "Emil", child2 = "krish", child3 = "piyu")

The youngest chid is piyu

In [2]:
def my_function(**kid):
    print("His last name is " +kid["lname"])

In [3]:
my_function(fname = "Krishsinh", lname = "Parmar")

His last name is Parmar

In [7]:
def my_function(country = "India"):
    print("I am from " + country)

In [8]:
my_function("sweden")
my_function("India")
my_function()
my_function("Brazil")

I am from sweden
I am from India
I am from India
I am from Brazil

In [9]:
def my_function(x):
    return 5 * x

In [10]:
print(my_function(3))
print(my_function(5))
print(my_function(9))

15
25
45

In [11]:
def my_function(a, b, /, *, c, d):
    print(a + b + c + d)

In [12]:
my_function(5, 6 , c = 7, d = 8)

26